/* ----------------------------------------------- 共通 */
html,
body {
  overflow-x: hidden;
}

body {
  color: #000000;
  font-family: 'Noto Sans JP', sans-serif;
  padding-bottom: 0;

}

p {
  line-height: 2.0em;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;

}



/* ----------------------------------------------- ナビゲーションバー */
.navbar_brand_logo {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  display: inline-block;
}

.my_navbar_brand, .my_nav_link {
  font-size: 16px;
  color: black !important; /* [!important] で最優先のCSSの適用。今後変更されない*/
  font-family: 'Lora', serif;
}

/* Bootstrapのボタンに初期設定されている周囲のborder（枠線）を消す */
.navbar-toggler {
  padding: 0 !important; 
  border: none;
}

 /* ハンバーガーボタンがチェック状態である（押されている）とき、閉じるボタン（×）を表示する */
#hamburger_btn_check:checked ~ .hamburger-btn .btn_close {
  display: block;
 }

/* ハンバーガーボタンがチェック状態である（押されている）とき、ハンバーガーボタンを表示しない */
#hamburger_btn_check:checked ~ .hamburger-btn .btn_open {
  display: none;
}

/* 最初に表示した時は、閉じるボタン（×）は表示しない */
.btn_close {
  display: none;
}

/* ハンバーガーボタンが押されているかを判断するためのチェックボックスは隠す */
#hamburger_btn_check {
  display: none;
}



/* ----------------------------------------------- カールセル */
.my_carousel_caption {
  font-size: 52px;
  margin: 1.25em 0;
  color: white;
  font-family: 'Lora', serif;
  text-align: center;
  line-height: 1.5em;
}

.my_carousel_caption::before {
  content: url(../img/logoSymbol_White.png);
  display: block;
}

.carousel-item {
  height:32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 32rem;
  min-width: 100%;
}

@media screen and (max-width: 375px) {
  .my_carousel_caption {
    font-size: 27px;
  }
}

.section_title {
  font-size: 36px;

  /* フォントの太さ600 標準は400です */
  font-weight: 600;
}

.section_title::after {
  /* 疑似要素はデフォルトでインライン要素のためブロック要素に変更 */
  display: block;

  /* サブタイトル文字の大きさや余白を設定 */
  font-size: 14px;
  font-weight: 400;
  padding: 16px 0 16px 0;

  width: 100px;

  border-bottom: solid 1px #000000;
}




/* ----------------------------------------------- アバウト */

.about::after {
  content: "私たちについて";
}

.about_us_bg {
  background-color: #FFE6A5;
}

/* ----------------------------------------------- ギャラリー */
.gallery::after {
  content: "ギャラリー";
  margin: 0 auto 0;
}




/* ----------------------------------------------- メニュー */

.menu::after {
  content: "メニュー";
  margin: 0 auto;
}

.menu_title {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}

.menu_price {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Lora', serif;
}



/* ----------------------------------------------- レビュー */
#review {
  background-image: url(../img/background-reviews.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.review::after {
content: "お客様の声";
margin: 0 auto;
border-bottom: solid 1px #fff;
}

/* 白い背景色の高さを固定 */
.h-420 {
  height: 420px;
  position: relative;
}

.reviewer_img {
  /* 画像サイズを45px */
  width: 45px;
  height: 45px;

  border-radius: 50%;
  margin-right: 16px;
}

.star_img {
  width: 25px;
  height: 25px;
}

.fix_button {
  position: absolute;
  bottom: 24px;
  left: 24px;

  width: 80px;
  height: 44px;
}



/* ----------------------------------------------- アクセス */
.access::after {
  content: "アクセス";
  margin: 0 auto;
}




/* ----------------------------------------------- フッター */
footer {
  background-color: #fafafa;
}

.copy_right {
  font-size: 14px;
  position: absolute;
  bottom: 1rem;
  left: 12px;

  display: flex;
}

.copy_right > p {
  margin-right: 5rem;
  margin-bottom: 0;
}

.copy_right > img.sns_img {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  margin-top: 0;
}

.restaurant_info p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

.restaurant_info img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  line-height: 1.5;
  margin-top: auto;
}

.footer_brand_logo {
  width: 64px;
  height: 64px;
  margin: 0 15px;
}

.footer_text {
  font-size: 24px;
  font-family: serif;
}

@media screen and (max-width: 991px) {

  .copy_right {
    margin-top: 2rem;
    text-align: center;
    position: relative;
  }

  .copy_right p, .copy_right img {
    margin-right: 1rem;
    font-size: 14px;
    margin: 0;
    line-height: 35px;
  }
}
  
